@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
$title-font: 'Roboto', sans-serif;
$background-color: rgba(50, 205 , 50, 0.5);
$main-color: darkgreen;

body {
	color: $main-color;
	font-family: $title-font;
}

a {
	text-decoration: none !important;
}

a:hover {
	color: $main-color;
}

::-webkit-input-placeholder {
	color: $main-color;
}

.navbar {
	margin: 0;
	min-height: 0;
}


.navbar ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	border-bottom: 1px solid $main-color;
	background-color: $background-color;
	margin: 0;
}

.navbar li {
	margin-right: 40px;

}

.navbar a {
	text-decoration: none;
	font-size: 1.5em;
	vertical-align: middle;
	color: $main-color;
}

.navbar a:hover {
	color: white;
}

.field input {
	outline-color: $background-color;
}

#search {
	outline-color: $background-color;
}

.search_button {
	background-color: $main-color;
	color: white;
	border-color: black
}

.actions input {
	margin: 5px 5px 5px 0px;
	@extend .search_button
}


.background_image {
	width: 100%;
	background-image: url('apples.jpg'); //Add background_image
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 500px;
	padding: 20px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px darkgreen;
}

.background_image h1 {
	margin-top: 0px;
	font-size: 5em;
}

#signup_frontpage {
	width: 20%;
	background-color: white;
	color: $main-color;
	outline-color: $background-color;
}

.new_market {
	text-align: center;
}

input#seller_remember_me {
	background: $main-color;
}

